.info p {
    margin: 0;
}

.cart-item {
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.75);
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.left {
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 150px;
    justify-content: space-between;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foto {
    box-sizing: content-box;
}


.nombre, .subtotal {
    font-size: 20px;
    font-weight: 600;
}


.precio-subtotal {
    color: rgb(21, 187, 21);;
}

.remove-btn{
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    color: red;
    font-size: 20px;
    transition: 0.2s;
    border-radius: 50%;
    
    
} 
.remove-btn:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

@media (max-width: 768px) {

    .cart-item {
        box-sizing: border-box;
        flex-direction: column;
        position: relative;
    }

    .left {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .info {
        height: 100px;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        margin-top: 20px;
    }

    

    .right {
        margin-top: 20px;
        flex-direction: row;
        height: auto;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }

    .remove-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    

}






