
body {
    background-color: #292c30;
  }
  
.mainbox {
  background-color: #292c30;
  margin: auto;
  height: 600px;
  width: 600px;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}
  
.err {
  color: #e84118;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #e84118;
}

.err2 {
   color: #e84118;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 11rem;
   position:absolute;
   left: 68%;
   top: 8%;
}

.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position:absolute;
  left: 16%;
  top: 45%;
  color: white;
  width: 75%;
}
  .msg-p {
    color: white;
    margin-top: 50px;
  }

.err-link {
  text-decoration: none;
  color: #e84118;
}
  
  .err-link:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {

  .mainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }

  /* .err404 {
    display: flex;
    max-width: 100px;
    align-items: center;
    justify-content: space-around;
  } */



  .err, .err2 {
    display: flex;
    font-size: 5rem; 
    top: 15%;
  }

  .err {
    left:28%
  }

  .err2 {
    left: 58%
  } 

  .far {
    left: 42%;
    top: 19%;
    font-size: 3.5rem;
  }

  .msg {
    font-size: 1.2rem;
    left: 12%;
  }
}
