.cart {
    color: #292c30;
    position: relative;
}

.cart:hover {
    color:white;
}

.cart-number {
    box-sizing: content-box;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart:hover > .cart-number {
    color: #292c30;
}

.little-num {
    font-size: 13px;
    padding: 2px 4px;
}

.plus99 {
    font-size: 11px;
    padding: 3px 1px;
}
