#item-container {
    background-color: antiquewhite;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.item-content {
    padding: 20px;
    max-width: 1280px;
    width: 100%;
}

