

.navbar {
    width: 100vw;
    height: 80px;
    padding: 5px; 
    background-color: #e84118;
    color: white;
    display: flex;
    justify-content: center;
    
    
}


.content {
    display: flex;
    width: 100vw;
    max-width: 1280px;
    align-items: center;
    justify-content: space-around;
}

.navbar-items {
    display: flex;
    flex-basis: 85%;
    justify-content: space-around;
    align-items: center;
}

#iniciar-sesion {
    
    padding: 10px;
    font-size: 13px;
    color: white;
    background-color: #292c30;
    border: none;
    border-radius: 5px;
    
}

#iniciar-sesion:hover {
    cursor: pointer;
    color: #e84118;
    background-color: white;
}


.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #292c30;
    
}



.search-box {
    background-color: #292c30;
    height: 30px;
    width: auto;
    border-radius: 30px;
    padding: 10px;
}

.search-btn {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #292c30;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-box:hover > .search-btn {
    background-color: white;
    color: #e84118;

}

.search-txt {
    border: none;
    background: none;
    outline: none;
    width: 0px;
    float: left;
    color: white;
    transition: 0.4s;
    font-size: 13px;
    line-height: 25px;

}

.search-box:hover > .search-txt {
    width: 220px;
    padding-left: 5px;

}



.cart {
    color: #292c30;
    position: relative;
}

.cart:hover {
    color:white;
}

.cart-number {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart:hover > .cart-number {
    color: #292c30;
}

.btn-desplegar {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
}


@media (max-width: 768px) {

    
    .navbar {
        height: 120px;
    }

    .content, .navbar-items {
        flex-direction: column;
    }

    .content {
        justify-content: space-between;
        align-items: center;
        padding: 20px;

    }

    .navbar-items {
        display: none;
    }

    

    

    .navbar-toggleShow {
        display: flex;
    }

    .toggle-navSize {
        height: 100vh;
    }


    .logo {
        
        align-self: flex-start;
        display: initial;
        position: absolute;
        /* left: 5px;
        top: 5px; */
        cursor: pointer;
    }

    .btn-desplegar {
        align-self: flex-end;
        top: 40px;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .search-txt {
        width: 220px;
    }
}


