.item-count {
    
    display: flex;
    height: 100px;
    width: 400px;
    background-color: aqua;
}

.contador {
    border: 3px solid black;
}

.barrita {
    display: flex;
    flex-basis: 80%;
}

.add-btn {
    border: 3px solid black;
}